<?xml version="1.0"?>
<!-- Launch twice:
      roslaunch sync_params example1.launch ns:=A -p 11311
      roslaunch sync_params example1.launch ns:=B -p 11312
  Then in a third terminal, type:
      rosparam set param_key param_value
  If successful, the parameter will be detected in A, published on /params, 
  then set in B.
  You can see the parameters with 'rosparam list'.
  
  -->
<launch>
  <arg name="ns" default="A"/>

  <!-- Multi master. -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync"/>
  
  <!-- Synchronise parameters. -->
  <node ns="$(arg ns)" name="sync_params" pkg="sync_params" type="sync_params" output="screen">
    <param name="debug" value="true"/>  <!-- Lots of printouts. -->
  </node>

</launch>
